@charset "utf-8";

html {
	height: 100%;
}

body {
	font-size: 13px;
}

#corpo {
	width: 100%;
}

#cuerpo {
	width: 100%;
}
/*-----------CONFIGURACAO DO PAINEL UTILIZADO QUE FICA NA ESQUERDA EM CADASTRO E CONSULTA------------*/

#painelEsquerda {
	float: left;
	width: 20%;
	position: relative;
	margin-top: 20px;
	padding: 5px;
	text-align: left;
	font-size: 85%;
}

#painelEsquerda #painelCadastro {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	margin-top: 15px;
}

#painelEsquerda #titulo {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	border: 1px solid #dddddd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	margin-bottom: 30px;
}

#painelEsquerda #titulo img {
	width: 35%;
	height: auto;
}

#painelEsquerda #tituloUsuario div span {
	color: #F20086;
}

#painelEsquerda div>div>.painelBotao {
	width: 30%;
	padding: 1em;
	margin-top: 15px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

#painelCadastro div .ui-button {
	width: 100%;
	height: 75px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

#painelCadastro div .ui-button .ui-icon {
	position: relative;
	top: 0;
	margin-top: 0;
	margin: 0 auto;
	padding: 0 0 0 0;
	left: 0;
}

#painelCadastro div .ui-button .ui-icon-text {
	margin: 0 auto;
	display: none;
}

#painelCadastro div .ui-button .ui-button-text {
	padding: 0 0 0 0;
}



.ui-dialog-buttonpane {
	text-align: center !important;
}



/*-----------CONFIGURACAO PAGINA DE CONSULTA------------*/
#conteudoHome {
	float: right;
	width: 78%;
	position: relative;
	margin: 0 auto;
	margin-top: 15px;
	padding: 0;
	text-align: center;
}

#ui-datatable-tablewrapper {
	width: 100%;
}


#conteudo {
	float: right;
	width: 78%;
}





/*-----------CONFIGURACAO PAGINA DE CADASTRO------------*/

#frmCadastro {
	width: 100%;
}

#mainCentral {
	width: 100%;
}

#pnlDadosPessoais {
	 margin-top: 3px; 
	 width:85%";
}



#pnlDadosPessoais #painelDados {
	width: 100%;
}

#divPainel {
	
}

#painelDados {
	margin: 0 auto;;
	margin-top: 5px;
	width: 55%;
	
}

#campos {
	width: 100%;
	margin-bottom: 15px;
}

#campos .textoCampo {
	width: 30%;
	float: left;
}

#campos .campoDireito {
	width: 30%;
	float: right;
}

#campos .textoMaior {
	width: 98%;
}

#rotuloDiv {
	width: 99.5%;
	display: inline-flex;
	margin-top: 15px;
}

#rotuloDiv .rotulo {
	text-align: left;
	width: 50%;
	font-weight: bold;
}

#rotuloDiv .rotuloDireito {
	text-align: right;
	width: 50%;
	font-weight: bold;
}




/*-----------PAGINA DE RELATORIOS--------------*/
#relatorioDiv {
	width:30%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	border: 1px solid #dddddd;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	margin-top: 30px;
	padding: 15px;
}

#formRelatorio {
	display: inline-block;
}
