@charset "utf-8";

html{
	height: 100%;
}

body {
	font-size: 13px;
}

#painelDados {
	margin-left: 15%;
}



#corpo {
	width: 100%;
}

#mainCentral {
	float: right;
	width: 78%;
	height: auto;
}

#painelEsquerda {
	float: left;
	width: 20%;
	border: 1px #CC0000 solid;
	margin-top: 20px;

}
