@charset "utf-8";

html{
	height: 100%;
}

body {
	font-size: 13px;
}

#painelDados {
	margin-left: 15%;
}



#corpo {
	width: 100%;
}

#mainCentral {
	float: right;
	width: 78%;
	height: auto;
}

#painelEsquerda {
	float: left;
	width: 20%;
	border: 1px #CC0000 solid;
	margin-top: 20px;
	padding: 5px;

}

#painelEsquerda #titulo {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	backgr: #EEF2F6;
}

#painelEsquerda #titulo img {
	width: 35%;
	height: auto;
	
}


